* {
  margin: 0;
}
body {
  background: #181C1F;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

footer {
  background: #0E1112;
  height: 10vh;
  /* position: fixed; */
  bottom: 0%;
}